.inputDiv {
  text-align: center;
  left: 0px;
}
.borderline-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  border: 4px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 474px;
  height: 125px;
}
.b5 {
  position: absolute;
  top: 35.5px;
  left: 113px;
  display: inline-block;
  width: 248px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.searchbargroup-div {
  position: relative;
  width: 474px;
  height: 125px;
  flex-shrink: 0;
}
.div7,
.div8 {
  position: absolute;
  top: 313px;
  left: 470px;
  width: 500px;
  height: 150px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  border: solid;
  border-color: #00ce94;
  border-width: 3px;
  border-radius: 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.div8 {
  top: 617px;
}
.delevator-b {
  width: 328px;
  height: 95px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 95px;

  color: rgba(0, 0, 0, 0.3);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.site-name-div2 {
  position: absolute;
  top: 0;
  left: 30px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.input {
  border: 0;
  background-color: transparent;
  position: absolute;
  font-size: larger;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  top: 230px;
  left: 483px;
  width: 414px;
  height: 55px;
  border-radius: 20px;
  border: solid;
  border-color: rgba(0, 0, 0, 0.5);
}
.div9,
.or-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.or-div {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 300;
  width: 306.05px;
  height: 36px;
  flex-shrink: 0;
}
.div9 {
  position: absolute;
  top: 522px;
  left: 567px;
  flex-direction: row;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.65);
  font-family: var(--font-gmarket-sans-ttf);
}
.line-icon,
.line-icon1 {
  position: absolute;
  top: 536px;
  left: 872px;
  width: 400.01px;
  height: 5.91px;
}
.line-icon1 {
  top: 535.51px;
  left: 167px;
  height: 5.98px;
}
.login-page-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  margin-left: auto;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-noto-sans);
}
.full-screen {
  /* position: relative;
  width: 100%;
  margin-left: auto; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50, 50); */
}
.line2 {
  position: absolute;
  width: 400px;
  height: 0px;
  left: 167px;
  top: 538.51px;

  border: 3px solid rgba(0, 0, 0, 0.3);
  transform: matrix(1, 0.01, -0.01, 1, 0, 0);
}
.line1 {
  position: absolute;
  width: 400px;
  height: 0px;
  left: 872px;
  top: 539px;

  border: 3px solid rgba(0, 0, 0, 0.3);
  transform: matrix(1, 0.01, -0.01, 1, 0, 0);
}
